body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
/* Navbar */

.img-logo-nav{
    height: 25pt;
    width: 86pt;
}

/* Card */

.card-body h5{
    font-weight: 300;
    font-size: 20pt;
    color: #212529;
}
.card-body h6{
    font-weight: 300;
    font-size: 16pt;
    color: #707070;
}
.card-body p{
    font-weight: 300;
    font-size: 13pt;
    color: #707070;
}
.card-link-price{
    font-size: 16pt;
    color: #707070;
    font-weight: 300;
}
.card-link-oferta{
    font-size: 20pt;
}
/* formulario */


/* footer */

.footer-logo img{
    max-height: 35px;
}

.footer-text p{
    font-size: 16pt;
}